#about {
    background-color: #F8F8F8;
}
.gaiyou-section > .header {
    background-color: #4FA0FF;
    padding-top: 50px;
    padding-bottom: 200px;
    text-align: center;
}

.gaiyou-section > .inner {
    background-color: var(--pink-color);
    height: 120vh;
    width: 96vw;
    margin: 0 auto;
    padding-top: 5%;
    border-radius: 40px;
    margin-top: -150px;
    text-align: center;
}

.gaiyou-section > .inner > .ava {
    margin-top: -230px;
}

.gaiyou-section > .inner > .header {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 60px;
    border-radius: 30px;
    width: 30%;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 60px;
}
.gaiyou-section > .inner > .header > .mid {
    font-size: 24px;
    letter-spacing: 0.465em;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gaiyou-section > .inner > .header > .bot {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
    background-color: #FCFF61;
    display: inline-block;
    border-radius: 12px;
    padding: 5px 20px;
} 

/* -------------------------------- Character Section -------------------------------- */
.character-section > img {
    display: block;
    margin: 0 auto;
}

.character-section > .title {
    margin-top: 120px;
    margin-bottom: 80px;
}

.futari-section {
    position: relative;
    height: 100%;
}

.futari-section > img {
    display: block;
    margin: 0 auto;
}

.waves.about {
    position: absolute;
    width: 100%;
    height: 20vh;
    min-height:50px;
    max-height:150px;
    bottom: 0;
    left: 0;
    z-index: 999;
  }

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -5s;
    animation-duration: 5s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

@media screen and (max-width: 1600px)  {
  .gaiyou-section > .header > .title {
    width: 320px;
  }
  .gaiyou-section > .inner {
    margin-top: -170px;
  }
  .gaiyou-section > .inner > .ava {
    width: 170px;
  }
  .gaiyou-section > .inner > .header {
    padding-bottom: 50px;
    padding-top: 80px;
  }
  .gaiyou-section > .inner > .header > .title {
    width: 320px;
  }
  .gaiyou-section > .inner > .header > .mid {
    font-size: 20px;
  }
  .gaiyou-section > .inner > .header > .bot {
    font-size: 24px;
  }
  .character-section > .title {
    height: 64px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .character-section > .img {
    height: 60vh;
  }
  .futari-section > .title {
    width: 36%;
  }
  .futari-section > .img { 
    width: 72%;
  }
  .waves.about {
    height: 50px;
  }
  
}