.e1.s1, .e1.s2, .e1.s3, .e1.s4, .e1.s5, .e1.s6 {
    height: 100vh;
    width: calc(100% - 270px);
    position: relative;
}

.e1.s1 {background-color: #87D0F3;}
.e1.s2, .e1.s3, .e1.s4, .e1.s5, .e1.s6 {background-color: #FFFFFF;}

/*-----------------------------------section 1------------------------------------*/

.e1.s1 > .section-wrapper {
    position: absolute;
    bottom: 0;
}
.e1.s1 > .section-wrapper > .img {
    height: 75vh;
    margin-left: 15%;
    margin-top: 10%;
}
.e1.s1 > .section-wrapper > .content {
    margin-left: 10%;
    margin-bottom: 10%;
    height: 70vh;
}

/*-----------------------------------section 2------------------------------------*/

.e1.s2 > .section-wrapper {
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    top: 48%;
}

.e1.s2 > .section-wrapper > .img { width: 45%; margin-right: 30px; }
.e1.s2 > .section-wrapper > .content { width: 40%; }
.e1.s2 > .section-wrapper > .content > .title { margin-bottom: 70px; }

/*-----------------------------------section 3------------------------------------*/
.e1.s3 > .section-wrapper > img,button {display: block; margin: 0 auto;}
.e1.s3 > .section-wrapper > .title { margin-bottom: 40px;}

.e1.s3 > .section-wrapper > .private-btn {width: 175px; margin-bottom: 30px;}
.e1.s3 > .section-wrapper > .private-btn > img {width: 100%;}

.e1.s3 > .section-wrapper > .karada-wrapper {
    height: 55vh;
    max-height: 580px;
    position: relative;
    z-index: 100;
}

.s3_body, .s3_private {
    height: 100%;
    position: absolute;
}
.s3_body {
    z-index: 100;
}

.s3_private {
    z-index: 99;
    mix-blend-mode: multiply;
    opacity: 0;
}
.s3_private.show { opacity: 1; z-index: 101;}


.e1.s3 > .section-wrapper > .features-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 54vw;
    min-width: 780px;
    height: 55vh;
    margin: 0 auto;
    z-index: 99;
    left: 50%;
    transform: translateX(-54%);
}

.feature {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}
.boys > .feature {flex-direction: row; justify-content: right;}
.girls > .feature {flex-direction: row-reverse; justify-content: left;}

.feature:hover {
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-out;
}
.feature:hover > div {
    font-weight: 700;
    color: var(--red-color);
}

.feature:hover > .icon { transform: scale(1.1); transition: transform .1s ease-in-out;}
.feature > .icon { width: 54px; }  

/*-----------------------------------section 4------------------------------------*/
.e1.s4 > .section-wrapper {
    position: relative;
    padding-top: 10%;
}
.e1.s4 > .section-wrapper > img {display: block; margin: 0 auto;}
.e1.s4 > .section-wrapper > .title { margin-bottom: 40px;}
.s4_gaiseiki {
    width: 92%; margin: 0 auto;
    margin-top: -5%;
}

/*-----------------------------------section 5------------------------------------*/
.e1.s5 > .section-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.e1.s5 > .section-wrapper > .title {
    margin-top: 30px;
    margin-bottom: 40px;
    height: 42px;
}
.e1.s5 > .section-wrapper > .img {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 50%;
}

.e1.s5 > .section-wrapper > .infi-slider {
    width: 100%;
    display: flex;
}

.e1.s5 > .section-wrapper > .infi-slider > img {
    animation: slide 60s linear infinite;
    animation-delay: -60s;
    width: 130%;
}

.e1.s5 > .section-wrapper > .infi-slider > img:nth-child(2) {
    animation: slide2 60s linear infinite;
    animation-delay: -30s;
}

/*-----------------------------------section 6------------------------------------*/
.e1.s6 > .section-wrapper {
    text-align: center;
    position: relative;
}

.e1.s6 > .section-wrapper > .img {
    width: 90%;
    margin-top: 7%;
}

/* leaf animations */
#leaves {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
}

#leaves i {
    display: inline-block;
    background: url("/images/ehon/e1_shishunki/s6_flower.png");
    transform: skew(20deg);
    z-index: 1;
    animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { animation: falling 5s 0s infinite; }
#leaves i:nth-of-type(3n) { animation: falling 5s 0s infinite; }

#leaves i:nth-of-type(n)    { height:60px; width:60px; }
#leaves i:nth-of-type(2n+1)    { height:70px; width:70px; }
#leaves i:nth-of-type(3n+2)  { height:80px; width:80px; }

#leaves i:nth-of-type(n)   { animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { animation-delay: 3s;  }

#leaves i:nth-of-type(n)     {background: url("/images/ehon/e1_shishunki/s6_flower.png"); background-size: contain; background-repeat: no-repeat;}
#leaves i:nth-of-type(2n+2)  {background: url("/images/ehon/e1_shishunki/s6_flower.png");background-size: contain; background-repeat: no-repeat;}
#leaves i:nth-of-type(4n+1)  {background: url("/images/ehon/e1_shishunki/s6_flower.png");background-size: contain; background-repeat: no-repeat;}

#leaves i:nth-of-type(n)    { opacity: 1;}
#leaves i:nth-of-type(3n+1)  { opacity: .7;}
#leaves i:nth-of-type(3n+2)  { opacity: .4;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { animation-timing-function:ease-in-out;}