e3.s1, e3.s2, e3.s3, e3.s4 {
    height: 100vh;
    width: calc(100% - 270px);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

/*-----------------------------------section 1------------------------------------*/
.e3.s1 > .section-wrapper {
    position: absolute;
    bottom: 0;
}

/*-----------------------------------section 2------------------------------------*/

/*-----------------------------------section 3------------------------------------*/


/*-----------------------------------section 4------------------------------------*/
