.e3.s1, .e3.s2, .e3.s3, .e3.s4, .e3.s5 {
    height: 100vh;
    width: calc(100% - 270px);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.e3.s1 {background-color: #85BCFF; background-image: url(/images/ehon/e3_shasei/s1_topbg.png); background-size: contain; background-position: top center;}
.e3.s2 {background-color: #FFFFFF;}
.e3.s3 {background-image: url(/images/ehon/e3_shasei/s3_musei.png); background-position: bottom;}
.e3.s4 {background-color: #375A95;}
.e3.s5 {background-image: url(/images/ehon/e3_shasei/s5_jii.png); background-position: bottom;}


/*-----------------------------------section 1------------------------------------*/
.e3.s1 > .section-wrapper > .title {
    text-align: center;
    margin: 0 auto;
    padding-top: 7%;
}

.e3.s1 > .section-wrapper > img {
    display: block;
}
.e3.s1 > .section-wrapper > .s1_shasei1 {
    position: absolute;
    bottom: -10px;
    left: 8%;
    width: 20%;

}
.e3.s1 > .section-wrapper > .s1_shasei2 {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 30%;
    z-index: 11;
}

.e3.s1 > .section-wrapper > .note-wrapper.n1 {
    position: absolute;
    top: 34%;
    left: 28%;
}


.e3.s1 > .section-wrapper > .note-wrapper.n2 {
    position: absolute;
    top: 54%;
    right: 30%;
}
.e3.s1 > .section-wrapper > .note-wrapper.n2 > .stamp {
    right: -10%;
    margin-top: -70px;
    width: 22%;
}

/*-----------------------------------section 2------------------------------------*/
.e3.s2 > .section-wrapper {
    align-items: center;
    padding-top: 7%;
    position: relative;
}
.e3.s2 > .section-wrapper > .title {
    margin-bottom: 8%;
}
.e3.s2 > .section-wrapper > .diagram-wrapper {
    text-align: center;
}

.e3.s2 > .section-wrapper > .diagram-wrapper > nav {
    display: inline-block;
    margin-top: 60px;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li {
    color: var(--e3-key-color);
    font-size: 20px;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid var(--e3-key-color);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li:first-child {
    padding-left: 35px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li:last-child {
    padding-right: 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li:hover {
    color: #fff;
    background-color: var(--e3-key-color);
    cursor: pointer;
    transition: background-color 0.15s ease-out;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li.active {
    color: #fff;
    background-color: var(--e3-key-color);
    cursor: pointer;
}

.diagram-img {
    width: 450px;
}
.diagram-moji > div {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* ////////////////////////////diagram front////////////////////////////// */
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_ぼうこう {
    background-image: url(/images/ehon/e3_shasei/s2_front-ぼうこう.svg);
    height: 231px;
    width: 90px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_尿道 {
    background-image: url(/images/ehon/e3_shasei/s2_front-尿道.svg);
    height: 48px;
    width: 405px;
    top: 72%;
    left: 26%;
}

.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_ペニス {
    background-image: url(/images/ehon/e3_shasei/s2_front-ペニス.svg);
    height: 48px;
    width: 399px;
    top: 65%;
    left: 25%;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_精管 {
    background-image: url(/images/ehon/e3_shasei/s2_front-精管.svg);
    height: 48px;
    width: 307px;
    top: 49%;
    left: 26%;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_精巣 {
    background-image: url(/images/ehon/e3_shasei/s2_front-精巣.svg);
    height: 60px;
    width: 275px;
    top: 64%;
    left: 55%;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_精子 {
    background-image: url(/images/ehon/e3_shasei/s2_front-精子.svg);
    height: 48px;
    width: 307px;
    top: 71%;
    left: 53%;
}

.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_ぼうこう:hover {
    background-image: url(/images/ehon/e3_shasei/s2_front-hv-ぼうこう.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_尿道:hover {
    background-image: url(/images/ehon/e3_shasei/s2_front-hv-尿道.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_精巣:hover {
    background-image: url(/images/ehon/e3_shasei/s2_front-hv-精巣.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_ペニス:hover {
    background-image: url(/images/ehon/e3_shasei/s2_front-hv-ペニス.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_精管:hover {
    background-image: url(/images/ehon/e3_shasei/s2_front-hv-精管.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .front > .diagram-moji > .s2_精子:hover {
    background-image: url(/images/ehon/e3_shasei/s2_front-hv-精子.svg);
}
/* ////////////////////////////diagram side////////////////////////////// */
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_ぼうこう {
    background-image: url(/images/ehon/e3_shasei/s2_side-ぼうこう.svg);
    height: 231px;
    width: 90px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_尿道 {
    background-image: url(/images/ehon/e3_shasei/s2_side-尿道.svg);
    height: 48px;
    width: 266px;
    top: 84%;
    left: 24.7%;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_精巣 {
    background-image: url(/images/ehon/e3_shasei/s2_side-精巣.svg);
    height: 48px;
    width: 417px;
    top: 80%;
    left: 46%;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_ペニス {
    background-image: url(/images/ehon/e3_shasei/s2_side-ペニス.svg);
    height: 48px;
    width: 252px;
    top: 73.5%;
    left: 24.5%;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_精管 {
    background-image: url(/images/ehon/e3_shasei/s2_side-精管.svg);
    height: 48px;
    width: 338px;
    top: 63%;
    left: 24.7%;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_精子 {
    background-image: url(/images/ehon/e3_shasei/s2_side-精子.svg);
    height: 60px;
    width: 432px;
    top: 63%;
    left: 24.7%;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_肛門 {
    background-image: url(/images/ehon/e3_shasei/s2_肛門.svg);
    height: 62.5px;
    width: 243.5px;
    top: 60%;
    left: 57%;
}

.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_ぼうこう:hover {
    background-image: url(/images/ehon/e3_shasei/s2_side-hv-ぼうこう.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_尿道:hover {
    background-image: url(/images/ehon/e3_shasei/s2_side-hv-尿道.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_精巣:hover {
    background-image: url(/images/ehon/e3_shasei/s2_side-hv-精巣.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_ペニス:hover {
    background-image: url(/images/ehon/e3_shasei/s2_side-hv-ペニス.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_精管:hover {
    background-image: url(/images/ehon/e3_shasei/s2_side-hv-精管.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_精子:hover {
    background-image: url(/images/ehon/e3_shasei/s2_side-hv-精子.svg);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > .side > .diagram-moji > .s2_肛門:hover {
    background-image: url(/images/ehon/e3_shasei/s2_side-hv-肛門.svg);
}
/*-----------------------------------section 3------------------------------------*/
.e3.s3 > .section-wrapper > .title {
    position: absolute;
    left: 60%;
    top: 12%;
    z-index: 11;
    height: 52px;
}
.e3.s3 > .section-wrapper > .content {
    position: absolute;
    left: 60%;
    top: 20%;
    z-index: 11;

}

.e3.s3 > .section-wrapper > .s3_kiss {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    z-index: 10;
}
.e3.s3 > .section-wrapper > .note-wrapper {
    position: absolute;
    bottom: 10%;
    right: 20%;
}
.e3.s3 > .section-wrapper > .note-wrapper > .stamp {
    margin-left: -60px;
    margin-top: -20px;
}
/*-----------------------------------section 4------------------------------------*/
.e3.s4 > .section-wrapper {
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15%;
}
.e3.s4 > .section-wrapper > .content-wrapper > .title {
    height: 52px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.e3.s4 > .section-wrapper > .content-wrapper > .content {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-radius: 20px;
}

.e3.s4 > .section-wrapper > .s4_bokki {
    width: 40%;
    border-radius: 50px;
}
/*-----------------------------------section 5------------------------------------*/
.e3.s5 > .section-wrapper > .title {
    position: absolute;
    left: calc(12% + 30px);
    top: 24%;
    height: 52px;
}
.e3.s5 > .section-wrapper > .content {
    position: absolute;
    left: 12%;
    top: 32%;
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-radius: 20px;
}

.e3.s5 > .section-wrapper > .s5_moon {
    position: absolute;
    width: 20%;
    right: 30%;
    top: 10%;
    animation: kata1-2 5s infinite;
}

.e3.s5 > .section-wrapper > .note-wrapper {
    position: absolute;
    top: 58%;
    left: 16%;
}
.e3.s5 > .section-wrapper > .note-wrapper > .stamp {
    margin-left: -60px;
    margin-top: -25px;
}
