.e3.s1, .e3.s2, .e3.s3, .e3.s4, .e3.s5 {
    height: 100vh;
    width: calc(100% - 270px);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.e3.s1 {background-color: #85BCFF;}
.e3.s2 {background-color: #FFFFFF;}
.e3.s3 {background-image: url(/public/images/ehon/e3_shasei/s3_musei.png); background-position: bottom;}
.e3.s4 {background-color: #375A95;}
.e3.s5 {background-image: url(/public/images/ehon/e3_shasei/s5_jii.png); background-position: bottom;}


/*-----------------------------------section 1------------------------------------*/
.e3.s1 > .section-wrapper > .title {
    text-align: center;
    padding-top: 7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.e3.s1 > .section-wrapper > img {
    display: block;
    position: absolute;
}

.e3.s1 > .section-wrapper > .s1_shasei {
    width: 100%;
    bottom: 0;
    z-index: 100;
}
.e3.s1 > .section-wrapper > .infi-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
}
.e3.s1 > .section-wrapper > .infi-slider > img {
    animation: slideUp 30s linear infinite;
    animation-delay: -30s;
    width: 100%;
}

.e3.s1 > .section-wrapper > .infi-slider > img:nth-child(2) {
    animation: slideUp2 30s linear infinite;
    animation-delay: -15s;
}
.e3.s1 > .section-wrapper > .note-wrapper.n1 {
    position: absolute;
    top: 30%;
    left: 30%;
}


.e3.s1 > .section-wrapper > .note-wrapper.n2 {
    position: absolute;
    top: 50%;
    right: 15%;
}
.e3.s1 > .section-wrapper > .note-wrapper.n2 > .stamp {
    right: -15%;
    margin-top: -70px;
    width: 34%;
}

/*-----------------------------------section 2------------------------------------*/
.e3.s2 > .section-wrapper {
    align-items: center;
    position: relative;

    top: 50%;
    transform: translateY(-50%);
}
.e3.s2 > .section-wrapper > .title {
    margin-bottom: 8%;
}

@media screen and (max-width: 1600px) {
    .e3.s2 > .section-wrapper > .title {
        margin-bottom: 40px;
    }
}
.e3.s2 > .section-wrapper > .diagram-wrapper {
    text-align: center;
}

.e3.s2 > .section-wrapper > .diagram-wrapper > nav {
    display: inline-block;
    margin-top: 40px;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li {
    color: var(--e3-key-color);
    font-size: 20px;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid var(--e3-key-color);
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li:first-child {
    padding-left: 35px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li:last-child {
    padding-right: 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li:hover {
    color: #fff;
    background-color: var(--e3-key-color);
    cursor: pointer;
    transition: background-color 0.15s ease-out;
}
.e3.s2 > .section-wrapper > .diagram-wrapper > nav > ul > li.active {
    color: #fff;
    background-color: var(--e3-key-color);
    cursor: pointer;
}

.diagram-img {
    max-width: 450px;
    width: 88%;
}
.diagram-moji > div {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*-----------------------------------section 3------------------------------------*/
.e3.s3 > .section-wrapper > .title {
    position: absolute;
    left: 60%;
    top: 12%;
    z-index: 11;
    height: 52px;
}
.e3.s3 > .section-wrapper > .content {
    position: absolute;
    left: 60%;
    top: 20%;
    z-index: 11;
}

.e3.s3 > .section-wrapper > .s3_kiss {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    z-index: 10;
}
.e3.s3 > .section-wrapper > .note-wrapper {
    position: absolute;
    bottom: 10%;
    right: 20%;
}
.e3.s3 > .section-wrapper > .note-wrapper > .stamp {
    margin-left: -60px;
    margin-top: -20px;
}
/*-----------------------------------section 4------------------------------------*/
.e3.s4 > .section-wrapper {
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15%;
}
.e3.s4 > .section-wrapper > .content-wrapper > .title {
    height: 52px;
    margin-bottom: 30px;
    margin-left: 30px;
    display: block;
}

.e3.s4 > .section-wrapper > .s4_bokki {
    width: 40%;
    border-radius: 50px;
}
/*-----------------------------------section 5------------------------------------*/
.e3.s5 > .section-wrapper > .title {
    position: absolute;
    left: calc(12% + 30px);
    top: 24%;
    height: 52px;
}
.e3.s5 > .section-wrapper > .p-content {
    position: absolute;
    left: 12%;
    top: 32%;
}

.e3.s5 > .section-wrapper > .s5_moon {
    position: absolute;
    width: 20%;
    right: 30%;
    top: 10%;
    animation: kata1-2 5s infinite;
}

.e3.s5 > .section-wrapper > .note-wrapper {
    position: absolute;
    top: 58%;
    left: 16%;
}
.e3.s5 > .section-wrapper > .note-wrapper > .stamp {
    margin-left: -60px;
    margin-top: -25px;
}
