.e5.s1, .e5.s2, .e5.s3, .e5.s4, .e5.s5, .e5.s6 {
    height: 100vh;
    width: calc(100% - 270px);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.e5.s2, .e5.s3,.e5.s4,.e5.s5,.e5.s6 {background-color: #FAFAFA;}

.box-content {
    background-color: #FFF;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1), inset 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    display: inline-block;
    padding: 80px 100px;
    width: 810px;
}

.e5_round-img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: relative;
}
.e5_round-img > .shadow {
    position: absolute;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.e5_round-img > img {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

/*-----------------------------------section 1------------------------------------*/

/*-----------------------------------section 2------------------------------------*/
.e5.s2 > .section-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-52%);
}

.e5.s2 > .section-wrapper > .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 42px;
}
.e5.s2 > .section-wrapper > .content {
    background-color: #FFF;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1), inset 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: inline-block;
    padding: 50px 150px;
}
.e5.s2 > .section-wrapper > .content > .groupItem {
    align-items: flex-start;
}
.e5.s2 > .section-wrapper > .content > .groupItem > .number {
    margin-right: 60px;
    padding-top: 10px;
}

.e5.s2 > .section-wrapper > .content > .groupItem > .item {
    width: 200px;
}

/*-----------------------------------section 3------------------------------------*/
.e5.s3 > .section-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.e5.s3 > .section-wrapper > .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.e5.s3 > .section-wrapper > .stage {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.e5.s3 > .section-wrapper > .box-content {
    background-color: #A9D6FF;
    gap: 50px;
    margin-top: -50px;
}
.e5.s3 > .section-wrapper > .box-content > .group {
    align-items: center;
}
.e5.s3 > .section-wrapper > .box-content > .group > .icon {
    z-index: 10;
    margin-top: -20px;

}
.e5.s3 > .section-wrapper > .box-content > .group > .block-msg {
    margin-top: -20px;
    width: 280px;
    padding-top: 25px;
}

/*-----------------------------------section 4------------------------------------*/
.e5.s4 > .section-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.e5.s4 > .section-wrapper > .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    z-index: 10;

}

.e5.s4 > .section-wrapper > .stage {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.e5.s4 > .section-wrapper > .box-content {
    background-image: url('/images/ehon/e5_akachan/s4_sex.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 0; */
    margin-top: -50px;
    height: 560.25px;    
}
.e5.s4 > .section-wrapper > .block-msg {
    width: 55%;
    margin: -50px auto 0 auto;
}

/*-----------------------------------section 5------------------------------------*/
.e5.s5 > .section-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.e5.s5 > .section-wrapper > .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.e5.s5 > .section-wrapper > .stage {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.e5.s5 > .section-wrapper > .box-content {
    background-color: #FFF6E6;
    gap: 50px;
    margin-top: -50px;
}
.e5.s5 > .section-wrapper > .box-content > .group > .img-desc {
    margin-top: 20px;
}
.e5.s5 > .section-wrapper > .block-msg {
    width: 55%;
    margin: -50px auto 0 auto;
}

/*-----------------------------------section 6------------------------------------*/
.e5.s6 > .section-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.e5.s6 > .section-wrapper > .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    z-index: 10;
}

.e5.s6 > .section-wrapper > .stage {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.e5.s6 > .section-wrapper > .box-content {
    background-image: url('/images/ehon/e5_akachan/s6_birth.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
    height: 560.25px;    
}
.e5.s6 > .section-wrapper > .block-msg {
    width: 55%;
    margin: -30px auto 0 auto;
    padding: 15px;
}