.e7.s1, .e7.s2, .e7.s3, .owari {
    height: 100vh;
    width: calc(100% - 270px);
    position: relative;
}
.e7.s1, .e7.s2{background-color: #FFF9D5;}
.e7.s3 {
    background: linear-gradient(
        to bottom,
        #FFF9D5 0%,
        #FFF9D5 35%,
        #FFF19A 35%,
        #FFF19A 100%
    );
}
.owari {
    background-color: #FFF9D5;
}

/*-----------------------------------section 1------------------------------------*/

.e7.s1 > .section-wrapper {
    align-items: center;
    transform: translate(-50%,-60%);
}

.e7.s1 > .section-wrapper > .title{
    margin-top: 7%;
    margin-bottom: 12%;
    height: 81px;
}
.e7.s1 > .section-wrapper > .note-wrapper.n1 {
    margin-bottom: 10%;
}
.e7.s1 > .section-wrapper > .note-wrapper.n2 > p {
    display: flex;
    gap: 20px;
} 
.e7.s1 > .section-wrapper > .note-wrapper.n2 > p > li {
    text-align: center;
}
.e7.s1 > .section-wrapper > .note-wrapper.n2 > p > li > p {
    text-align: center;
    width: 85px;
    line-height: 160%;
    margin-top: 10px;
    font-size: 13.5px;
}
/*-----------------------------------section 2------------------------------------*/

.e7.s2 > .section-wrapper {
    align-items: center;
    transform: translate(-50%,-60%);
    width: 800px;
}

.e7.s2 > .section-wrapper > .title {
    line-height: 52px;
    margin-bottom: 20px;
}

.e7.s2 > .section-wrapper > .subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.e7.s2 > .section-wrapper > .virus-wrapper {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 10%;
}

.e7.s2 > .section-wrapper > .virus-wrapper > .virus > .virus-img {
    max-width: 150px;
}

.e7.s2 > .section-wrapper > .virus-wrapper > .virus {
    text-align: center;
}

.e7.s2 > .section-wrapper > .virus-wrapper > .virus > .virus-name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.e7.s2 > .section-wrapper > .virus-wrapper > .virus:hover {
    cursor: pointer;
}
.e7.s2 > .section-wrapper > .virus-wrapper > .virus:hover > .virus-img {
    transform: scale(1.1) translateY(-5px); 
    transition: transform .1s ease-in-out;
}
.e7.s2 > .section-wrapper > .virus-wrapper > .virus:hover > .virus-name {
    color: var(--red-color);
    font-weight: 700;
}

/*-----------------------------------section 3------------------------------------*/
.e7.s3 > .section-wrapper {
    transform: translate(-50%,-60%);
    align-items: center;
}

.e7.s3 > .section-wrapper > img {
    width: 350px;
}

.e7.s3 > .section-wrapper > a > button {
    margin-top: -150px;
    background-color: var(--red-color);
    border: none;
    color: #fff;
    font-weight: 500;
}

@media screen and (max-width: 1600px) {
    .e7.s2 > .section-wrapper {
        transform: translate(-50%,-50%);
    }
    .e7.s3 > .section-wrapper {
        transform: translate(-50%,-50%);
    }
    .e7.s3 > .section-wrapper > img {
        width: 320px;
    }
}

/*-----------------------------------おわり------------------------------------*/
.owari {
    padding-top: 10%;
    text-align: center;
}
.owari > h3 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--red-color);
}
.owari > p {
    font-size: 18px;
    margin-bottom: 30px;
}
.owari > .method-card > .method-thumb {
    margin: 0 auto;
    text-align: center;
}

