.e7.s1, .e7.s2, .e7.s3{
    height: 100vh;
    width: calc(100% - 270px);
    position: relative;
}
.e7.s1, .e7.s2{background-color: #FFF9D5;}

/*-----------------------------------section 1------------------------------------*/

.e7.s1 > .section-wrapper {
    height:100vh;
    align-items: center;
    justify-content: center;
}



