.lesson-content {
    float: left;
}

.lesson-content__inner, .ehon-jisho{
    width: calc(100% - 270px);
    float: right;
    background-color: #ddd;
}

.lesson-content > img {
    width: 100%;
}
.ehon-jisho {
    text-align: center;
}

.wordModal-wrapper{
    width: calc(100% - 270px);
    height: 100vh;
    display: flex;
    align-items: center;
}

.nayami-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

