.lesson-nav-wrapper {
    background-color: #FAFAFA;
    width: 270px;
    height: 100%;
    left: 0;
    padding: 5px 5px 50px 5px;
    position: fixed;
    z-index: 999;
}

.lesson-nav-wrapper > .thumbnail {
    width: 100%;
}

.lesson-nav-wrapper > .header {
    background-color: #fff;
    padding: 15px 15px;
}
.lesson-nav-wrapper > .header > .progress-wrapper {
  margin-top: 15px;
}
.lesson-nav-wrapper > .header > .progress-wrapper > .progress-bar {
    height: 3px;
    background-color: #e4e4e4;
    border-radius: 100px;
    margin-bottom: 5px;
}

.lesson-nav-wrapper > .header > .method-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
    margin-top: 15px;
}

.lesson-nav-wrapper > .header > .method-wrapper > .method-icon {
    font-size: 12px !important;
}

.lesson-nav-wrapper > .part-list-scroll {
  overflow-y: scroll;
  height: 50vh;
  margin-top: 20px;
  padding-right: 5px;
}

.lesson-nav-wrapper > .part-list-scroll::-webkit-scrollbar {
  width: 7px;
}

.lesson-nav-wrapper > .part-list-scroll::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.lesson-nav-wrapper > .part-list-scroll::-webkit-scrollbar-thumb {
  background-color: #B4B4B4;
  border-radius: 100px;
}

.lesson-nav-wrapper > .part-list-scroll > .part-list-wrapper > .part-list-item > .parent-title:first-child {
  margin-top: 20px !important;
}

@media screen and (min-height: 1089px) {
  .lesson-nav-wrapper > .part-list-scroll {
    overflow-y: scroll;
    height: 70vh;
  }
  
}