.quiz-section {
    text-align: center;
    
    background-color: #ECFFF9;
    width: 100vw;
}

.quiz-card, .quiz-anketto {
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
}

.quiz-anketto {
    height: 480px;
    width: 430px;
    background: url(./assets/anketto-bg.png) no-repeat;
    margin: 0 auto;
    padding-top: 162px;
}
.quiz-anketto > p {
    line-height: 210%;
}
.quiz-anketto > button {
    border: none;
    background-color: #44AEA1;
    color: #fff;
    margin-top: 90px;

}
.quiz-answer {
    margin-top: 100px;
    padding-bottom: 100px;

}

.quiz-answer > h3 {
    color: #44AEA1;
    margin-bottom: 50px;
}

.quiz-answer > .wrapper {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 60px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
}
.quiz-answer > .wrapper > p {
    font-size: 14px;
    line-height: 24px;
}
.quiz-answer > .wrapper > .question {
    color: #44AEA1;
    font-weight: 600;
    
}
.chosen-ans, .right-ans {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chosen-ans > div, .right-ans > div {
    font-size: 12px;
    margin-bottom: 5px;
}

.right-ans {
    background-color: #C7FFB8;
    margin-left: 10px;
}