* { 
  margin: 0; 
  padding: 0; 
  box-sizing:border-box; 
  /* word-break: break-all; */
}
html {
  scroll-behavior: smooth; 
}

body {overflow-x: hidden;}
body *{z-index: 1; }

/*-----------------------------------COLORS------------------------------------*/
:root {
  --brown-color: #806E6C;
  --white-color: #FFFFF9;
  --grey-color: #d8d8d8;
  --pink-color: #FFECEC;
  --blue-color: #DEEFFF;
  --green-color: #E1FCDA;
  --yellow-color: #FEFFBA;
  --neon-color: #FCFF61;
  --red-color: #E06363;

  --e2-key-color: #E06363;
  --e3-key-color: #4E8DDB;
  --e4-key-color: #FC7B92;
  --e5-key-color: #44AE7D;
  --e6-key-color: #765EC5;
  --e7-key-color: #FFB31F;
}

/*-----------------------------------FONTS------------------------------------*/
@font-face {
  font-family: 'HGRPP1';
  src: url("/fonts/HGRPP1.TTC");
}

@font-face {
  font-family: 'SoupofJustice';
  src: url("/fonts/iCielSoupofJustice.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --font-title: 'HGRPP1';
  --font-title-en: 'SoupofJustice';
  --font-body: 'M PLUS 2', sans-serif;
}

div,p {font-family: var(--font-body); color: var(--brown-color); font-size: 15px; letter-spacing: 0.05em; font-weight: 500;}
p { line-height: 225%;}
a{ text-decoration: none; color: var(--brown-color); transition: all var(--transition-hover); }

h1 { font-size: 96px; }
h2 { font-size: 48px; }
h3 { font-size: 24px; }
h4 { font-size: 15px; }

.bold {font-weight: 700;}
.keyword {font-weight: 700; color: var(--red-color)}

.section-title {
  font-family: var(--font-title);
  color: var(--brown-color);
}

.section-subtitle {
  font-weight: 600;
}

/*-----------------------------------BUTTON------------------------------------*/
button {
  padding: 12px 34px;
  border-radius: 50px;
  font-family: var(--font-body);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.05em;
  z-index: 1000;
}

button:hover {
  cursor: pointer;
}

.no-style {
  padding: 0;
  border: none;
}

.method-icon {
  font-size: 20px;
  font-weight: 600;
  border-radius: 100px;
  background-color: #fff;
  padding: 8px 14px 12px 14px;
}

.method-icon.small {
  font-size: 14px;
  padding: 5px 9px 8.5px 10px;
}
.method-icon.ehon {
  color: #E06363;
  border: #E06363 2px solid;
}
.method-icon.ehon.active {
  background-color: #E06363;
  color: #fff;
}
.method-icon.jisho {
  color: #20548A;
  border: #20548A 2px solid;
}
.method-icon.jisho.active {
  background-color: #20548A;
  color: #fff;
}
.method-icon.nayami {
  color: #75BE5B;
  border: #75BE5B 2px solid;
}
.method-icon.nayami.active {
  background-color: #75BE5B;
  color: #fff;
}

.method-icon:hover, .method-card:hover .method-icon {
  color: #fff;
  transition: color .2s ease-in-out;
}

.method-icon.ehon:hover {
  background-color: #E06363;
  transition: background-color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.method-icon.jisho:hover {
  background-color: #20548A;
  transition: background-color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.method-icon.nayami:hover  {
  background-color: #75BE5B;
  transition: background-color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  transition: transform .1s ease-in-out;
}

/*-----------------------------------transition------------------------------------*/
:root {
  --ease-level1: var( --easeOutCubic );
  --ease-level2: var( --easeOutQuart );
  --ease-heavy1: var( --easeInOutQuad );
  --ease-heavy2: var( --easeInOutQuart );
  --ease-unique: var( --easeOutBack );
  --transition-hover: 400ms var( --ease-level1 );
  --transition-hover-slow: 600ms var( --ease-level1 );
  --transition-hover-x-slow: 1000ms var( --ease-level1 );
  --transition-hover-heavy: 500ms var( --ease-heavy2 );
  --transition-sticky: 400ms var( --ease-heavy2 );
  --transition-sitemap-open: 500ms var( --ease-level1 );
  --transition-sitemap-close: 400ms var( --ease-level1 );
  --transition-kite: 1300ms var( --ease-heavy2 );
  --transition-kite-middle: 5200ms var( --ease-heavy1 );
  --transition-kite-slow-pc: 20000ms var( --ease-heavy2 );
  --transition-kite-slow-sp: 12000ms var( --ease-heavy2 );
  --transition-fluffy: 2200ms linear;
  --transition-fade-mask: 900ms var( --ease-heavy2 );
  --transition-fade-slider: 1200ms var( --ease-level1 );
  --transition-toggle: 400ms var( --ease-heavy2 );
  --transition-dots: 400ms var( --ease-heavy2 );
  --transition-splittext: 800ms var( --ease-level1 );
  --transition-scale-up: 600ms var( --ease-unique );
  --transition-scale-down: 1100ms var( --ease-level2 );
  --transition-fadeup: 750ms var( --ease-level1 );
  --transition-fade: 900ms var( --ease-level1 );
  --transition-fade-slow: 8000ms linear;
}

li { list-style-type: none; }
ol,ul { list-style: none; }
dl,dt,dd { margin: 0; padding: 0; }
p { margin: 0 0 10px; padding: 0; text-align:left; }
img {border: 0; line-height: 0; vertical-align: bottom;}
hr { display: none; }
table { margin: 0; padding: 0; }
th { text-align: left; font-weight: 500; margin: 0; }
td { margin: 0; }
em {font-weight: 500; font-style: normal;}
form { margin: 0; padding: 0; }
label { margin: 0; padding: 0;}
input.btn { margin: 0 0.5em; padding: 0 1em; }

main { display: block; }
input[type="text"] {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
}
input,textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-width: 100%;
  }

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}


.mt10 {margin: 10px}
.mt20 {margin: 20px}
.mt30 {margin: 30px}
.mt40 {margin: 40px}
.mt50 {margin: 50px}


.flex-column{
  display: flex!important; 
  flex-wrap: wrap!important; 
  flex-direction: column;
  justify-content: space-between;   
}

.flex-row{
  display: flex!important; 
  flex-direction: row;
  justify-content: space-between; 
}

.ct {
  justify-content: center;
  margin: 0 auto;
}

.align-ct {
  text-align: center;
  align-items: center;
}

.texture {   
  position: fixed;
  top: 0; 
  mix-blend-mode: overlay;
  opacity: .3;
  width: 100%;
  z-index: 1000;
  overflow: visible;
  pointer-events:none;
}

@media screen and (max-width: 1200px){
  html,body{
    overflow-x: hidden;
    /* overflow-y: hidden; */

  }
  .texture {   
    object-fit: cover;
    height: 100vh;
    position: fixed;
  }
}

/* https://edit.lottiefiles.com/?src=https%3A%2F%2Fassets10.lottiefiles.com%2Fdotlotties%2Fdlf10_xmTSgX81UE.lottie */